@model Hochladen_Db
@{
    ViewData["Title"] = "Meine Verwaltung";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Holstentor.Models.HomeRepository.HomeRep ivm = new Holstentor.Models.HomeRepository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@await Html.PartialAsync("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Meine Verwaltung</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Bearbeiten Sie die Informationen</h5>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <!-- Pagination -->
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li><a class="btn btn-secondary mr-3" href="/Admin"><i class="fas fa-chevron-circle-left mr-2"></i>Zurück</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End of Pagination -->
                                <div class="container">
                                    <form class="col px-5 px-lg-8 py-6 py-lg-0 mt-3" asp-controller="Admin" asp-action="FotoFusszeileBearbeitenConfirmed" enctype="multipart/form-data" method="post">
                                        <input type="hidden" asp-for="@Model.ID" name="id" value="@Model.ID" />
                                        <div class="custom-file form-group mb-4">
                                            <input type="file" class="custom-file-input" asp-for="ImageFooter" name="Image" required>
                                            <span asp-validation-for="ImageFooter" class="bg-primary text-white"></span>
                                            <label class="custom-file-label">Datei wählen...</label>
                                            <div class="text-danger">Wählen Sie ein Bild aus.</div>
                                            <div class="text-success">[Beispiel Größe: 1KB - 5 MB]</div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-success btn-block mb-4 text-capitalize">Bearbeiten<i class="fas fa-edit ml-2"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1200"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
@await Html.PartialAsync("P_Footer")
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}