@{
    ViewData["Title"] = "Meine Nachricht";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    var username = User.Identity.Name;
    Holstentor.Models.ProfileRepository.MessageRep msg = new Holstentor.Models.ProfileRepository.MessageRep();
    var qmsg = msg.GetMsgRecive(username).ToList();
    Holstentor.Models.ProfileRepository.UserRep prorep = new Holstentor.Models.ProfileRepository.UserRep();
    var quser = prorep.GetUser(username);
    Holstentor.Models.HomeRepository.HomeRep ivm = new Holstentor.Models.HomeRepository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@await Html.PartialAsync("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Mein persönlichen Daten</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Mein Konto</h5>
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" asp-action="Index" asp-controller="Profile">Mein Profil</a>
                                @{
                                    if (prorep.InsertUser(username) == true)
                                    {
                                        <a class="nav-item nav-link @*active*@" asp-action="Message" asp-controller="Profile">Meine Nachricht</a>
                                        <a class="nav-item nav-link" asp-action="ChangePassword" asp-controller="Profile">Passwort</a>
                                    }
                                    else if (prorep.InsertUser(username) == false)
                                    {
                                        <a class="nav-item nav-link" asp-action="Index" asp-controller="Profile">Meine Nachricht</a>
                                        <a class="nav-item nav-link" asp-action="Index" asp-controller="Profile">Passwort</a>
                                    }
                                }
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <div class="p-5 row">
                                    <div class="col-lg-6">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-warning btn-block mb-4" asp-action="Message" asp-controller="Profile">Nachricht senden<i class="zmdi zmdi-mail-send ml-2"></i></a>
                                        <!-- End of Button trigger modal -->
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-primary btn-block mb-4" asp-action="MessageReply" asp-controller="Profile">Nachricht empfangen<i class="zmdi zmdi-replay ml-2"></i></a>
                                        <!-- End of Button trigger modal -->
                                    </div>
                                    <div class="table-responsive mb-2">
                                        <table class="table table-hover table-striped table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nachricht empfangen</th>
                                                    <th>Datum</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nachricht empfangen</th>
                                                    <th>Datum</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    if (qmsg.Count() > 0)
                                                    {
                                                        foreach (var item in qmsg.OrderByDescending(a => a.Date).Take(15))
                                                        {
                                                            <tr>
                                                                <th>@i</th>
                                                                <th class="text-center fs--1" style="width:50%;">@item.Text</th>
                                                                <th>@item.Date</th>
                                                            </tr>
                                                            i = i + 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="bg-danger text-white" colspan="4">Sie haben noch keine Nachrichten erhalten.</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1200"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
@await Html.PartialAsync("P_Footer")